<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>8C86D435-276E-4FFF-BB71-588D4B4CB790</string>
	<key>MSAppCenterNetworkRequestsAllowed</key>
	<false/>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBULDBIYHCJQUVJTVFVWV1hZ
	WltcYWZVJG51bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAFNMTFA4VFhdcdGlt
	ZXN0YW1wS2V5WWRldmljZUtleYADgAWAE9IZDhobV05TLnRpbWUjQcfuoQxS8QKABNId
	Hh8gWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN03xAXIyQlJg4n
	KCkqKywtLi8wMTIzNDU2Nzg5Ojs8PTs8PEFCPDw8PEdISUo8PE1OT1lvc1ZlcnNpb25e
	dGltZVpvbmVPZmZzZXRYYXBwQnVpbGRfEBVsaXZlVXBkYXRlUGFja2FnZUhhc2haYXBw
	VmVyc2lvbl8QEXdyYXBwZXJTZGtWZXJzaW9uW2NhcnJpZXJOYW1lV3Nka05hbWVWbG9j
	YWxlXxAXbGl2ZVVwZGF0ZURlcGxveW1lbnRLZXleY2FycmllckNvdW50cnlab3NBcGlM
	ZXZlbF53cmFwcGVyU2RrTmFtZVdvZW1OYW1lWnNka1ZlcnNpb25cYXBwTmFtZXNwYWNl
	VW1vZGVsXxAVd3JhcHBlclJ1bnRpbWVWZXJzaW9uXxAWbGl2ZVVwZGF0ZVJlbGVhc2VM
	YWJlbFpzY3JlZW5TaXplVm9zTmFtZVdvc0J1aWxkgAuADoAQgACAEoAQgACAAIAGgA2A
	AIAAgACAAIAJgAeAEYAIgACAAIAPgAqADF8QD2FwcGNlbnRlci5tYWNvc1U0LjMuMFdN
	YWMxNiw4VUFwcGxlVW1hY09TVjI2LjUuMVUyNUY4MFVlbl9VUxP/////////EFkyNTYw
	eDE0NDBZI1ZFUlNJT04jXxAYY29tLmx3b3Vpcy5hbHQtdGFiLW1hY29z0h0eXV5aTVNB
	Q0RldmljZaNfYCFaTVNBQ0RldmljZV5NU0FDV3JhcHBlclNka9IdHmJjXxAVTVNBQ0Rl
	dmljZUhpc3RvcnlJbmZvo2RlIV8QFU1TQUNEZXZpY2VIaXN0b3J5SW5mb18QD01TQUNI
	aXN0b3J5SW5mb9IdHmdoXk5TTXV0YWJsZUFycmF5o2dpIVdOU0FycmF5AAgAEQAaACQA
	KQAyADcASQBMAFEAUwBrAHEAdgCBAIgAigCMAI4AlQCiAKwArgCwALIAtwC/AMgAygDP
	ANoA4wDqAO0A9gEnATEBQAFJAWEBbAGAAYwBlAGbAbUBxAHPAd4B5gHxAf4CBAIcAjUC
	QAJHAk8CUQJTAlUCVwJZAlsCXQJfAmECYwJlAmcCaQJrAm0CbwJxAnMCdQJ3AnkCewJ9
	Ao8ClQKdAqMCqQKwArYCvALFAs8C2QL0AvkDBAMIAxMDIgMnAz8DQwNbA20DcgOBA4UA
	AAAAAAACAQAAAAAAAABqAAAAAAAAAAAAAAAAAAADjQ==
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx+6hDFFJOIAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx+6hDFFYEIAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSConstraintBasedLayoutVisualizeMutuallyExclusiveConstraints</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va2QDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAADgCAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAACwAAAAEB
	AAB2aWFubWlyYW5kYQADAAAAAQEAAHNyYwAGAAAAAQEAAEdpdEh1YgAACAAAAAEBAABk
	b3RmaWxlcwUAAAABAQAAbWFjb3MAAAAYAAAAAQYAABAAAAAgAAAANAAAAEAAAABQAAAA
	YAAAAAgAAAAEAwAALUMAAAAAAAAIAAAABAMAAF1dBAAAAAAACAAAAAQDAABlCs8AAAAA
	AAgAAAAEAwAA4LEgAAAAAAAIAAAABAMAABX5MwAAAAAACAAAAAQDAAChh+8AAAAAABgA
	AAABBgAAkAAAAKAAAACwAAAAwAAAANAAAADgAAAACAAAAAAEAABBx9IvK4AAABgAAAAB
	AgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAQAAAAAAAAA
	BAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
	AAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAADNBMDEzNTMzLTYyNjAt
	NDM3Ri04RDhDLUVCRTg0RDgzQzBFRRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAA
	AAAAAQAAAAEBAAAvAAAALwAAAAEBAABOU1VSTEJvb2ttYXJrUXVhcmFudGluZU1vdW50
	ZWROZXR3b3JrVm9sdW1lc0tleQDkAAAA/v///wEAAAAAAAAAEgAAAAQQAABwAAAAAAAA
	AAUQAADwAAAAAAAAABAQAAAgAQAAAAAAAEAQAAAQAQAAAAAAAAIgAAD0AQAAAAAAAAUg
	AABkAQAAAAAAABAgAAB0AQAAAAAAABEgAACoAQAAAAAAABIgAACIAQAAAAAAABMgAACY
	AQAAAAAAACAgAADUAQAAAAAAADAgAABAAQAAAAAAAAHAAABIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAABYAQAAAAAAAAHQAABAAQAAAAAAABDQAAAEAAAAAAAAAAACAIBAAQAAAAAA
	AA==
	</data>
	<key>NSWindow Frame PermissionsWindow</key>
	<string>605 1863 521 415 -854 1117 3440 1410 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>970 1738 620 402 0 982 2560 1410 </string>
	<key>NSWindow Frame SettingsWindow</key>
	<string>119 1279 918 534 0 982 2560 1410 </string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-06-13T07:45:00Z</date>
	<key>appearanceSize</key>
	<string>3</string>
	<key>appearanceStyle</key>
	<string>0</string>
	<key>appearanceTheme</key>
	<string>2</string>
	<key>appsToShow3</key>
	<string>0</string>
	<key>cancelShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EADSHR4fIFokY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QIERokKTI3SUxRU1pgbXuZ
		oKuzu72/wcPFx8nMztPe5/L1AAAAAAAAAQEAAAAAAAAAIgAAAAAAAAAAAAAA
		AAAAAP4=
		</data>
		<key>string</key>
		<string></string>
	</dict>
	<key>captureWindowsInBackground</key>
	<string>false</string>
	<key>crashPolicy</key>
	<string>0</string>
	<key>hideShowAppShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EADSHR4fIFokY2xhc3NuYW1lWCRj
		bGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QIERokKTI3SUxRU1pgbXuZ
		oKuzu72/wcPFx8nMztPe5/L1AAAAAAAAAQEAAAAAAAAAIgAAAAAAAAAAAAAA
		AAAAAP4=
		</data>
		<key>string</key>
		<string></string>
	</dict>
	<key>holdShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAYAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌥⌘</string>
	</dict>
	<key>menubarIcon</key>
	<string>1</string>
	<key>nextWindowShortcut3</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAwEABRCdIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>⇥</string>
	</dict>
	<key>preferencesVersion</key>
	<string>#VERSION#</string>
	<key>previewFocusedWindow</key>
	<string>false</string>
	<key>screensToShow</key>
	<string>0</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutCount</key>
	<string>3</string>
	<key>showHiddenWindows</key>
	<string>1</string>
	<key>showMinimizedWindows</key>
	<string>1</string>
	<key>showOnScreen</key>
	<string>1</string>
	<key>showWindowlessApps</key>
	<string>1</string>
	<key>spacesToShow</key>
	<string>1</string>
	<key>spacesToShow2</key>
	<string>0</string>
	<key>updatePolicy</key>
	<string>0</string>
	<key>vimKeysEnabled</key>
	<string>true</string>
</dict>
</plist>
